ce_object-detection/*
YOLO/src/__pycache__/*
YOLO/data/test/*.jpg
YOLO/data/train/*.jpg
YOLO/data/val/*.jpg
Jupyter-suggestions.txt


YOLO/draw_box/__pycache__/*
YOLO/draw_box/data/*.jpg




YOLO/Bilberry/*
# Local files
*.DS_Store 
*.pyc
*.ipynb
