ce_object-detection/*
YOLO/src/__pycache__/*
YOLO/detect_object/__pycache__/*
YOLO/detect_object/data/*.jpg
YOLO/data/test/*.jpg
YOLO/data/train/*.jpg
YOLO/data/val/*.jpg
Jupyter-suggestions.txt

*.DS_Store 

# Local files
*.pyc
*.ipynb
